.about-company {
  align-items: center;
}

.about-links {
  flex-direction: row;
  justify-content: center;
}

.style-link {
  background-color: #ffe082;
  border-radius: 10px;
  height: max-content;
  width: 50%;
}

.text-link {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.about-links .style-link + .style-link {
  margin-left: 20px;
}
